<div class="content">
  <h1 class="header">
    Edit Contact
  </h1>
  <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
    <section>
      <nav>Name/Info</nav>
      <div>
        <con-profile-icon-selector formControlName="icon" />
        <input formControlName="firstName" [class.error]="firstName.invalid && firstName.touched" placeholder="First Name" />
        @if (firstName.errors?.['required'] && firstName.touched) {
          <em>Please enter a First Name</em>
        }
        @if (firstName.errors?.['minlength'] && firstName.touched) {
          <em>First Name must be at least 3 characters</em>
        }
        <input formControlName="lastName" placeholder="Last Name" />
        <input formControlName="dateOfBirth" type="date" placeholder="Date of Birth" />
        <div>
          <span>Favorites Ranking:</span>
          <input formControlName="favoritesRanking" type="range" min="0" max="5" placeholder="Favorites Ranking" />
          <span>{{contactForm.value.favoritesRanking}}</span>
        </div>
        <div>
          <input type="checkbox" formControlName="personal" /> Personal
        </div>
      </div>
    </section>
    <section>
      <nav>Phone</nav>
      <div formArrayName="phones">
        @for(phone of contactForm.controls.phones.controls; track $index){
          <div [formGroupName]="$index" class="flex-column">
            <div class="flex-group">
              <input formControlName="phoneNumber" placeholder="Phone" />
              <img src="/assets/plus-grey-blue.png" class="add" (click)="addPhone()" />
            </div>
            @if(phone.controls.phoneNumber.invalid) {
              <em>Preferred Phone is required</em>
            }
            <div class="radio">
              @for(phoneType of phoneTypes; track phoneType.title) {
                <input formControlName="phoneType" type="radio" [value]="phoneType.value"> {{phoneType.title}}
              }
            </div>
            <span><input type="checkbox" formControlName="preferred" /> Preferred</span>
          </div>
        }
      </div>
    </section>
    <section>
      <nav>Addresses</nav>
      <div>
        <div formArrayName="addresses" class="flex-column">
          @for(address of contactForm.controls.addresses.controls; track $index) {
            <div [formGroupName]="$index" class="address" [class.error]="address.invalid && address.dirty">
              <div class="flex-group">
                <input formControlName="streetAddress" placeholder="Address" />
                <img src="/assets/plus-grey-blue.png" class="add" (click)="addAddress()" />
              </div>
              <input formControlName="city" placeholder="City" />
              <input formControlName="state" placeholder="State/Region" />
              <input formControlName="postalCode" placeholder="Zip/Postal Code" />
              <select formControlName="addressType">
                @for(addressType of addressTypes; track addressType.value) {
                  <option [value]="addressType.value">{{ addressType.title }}</option>
                }
              </select>
              @if (address.invalid && address.dirty) {
                <em>Incomplete Addresss</em>
              }
            </div>
          }
        </div>
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <div>
        <textarea placeholder="Notes" rows="5" formControlName="notes" [class.error]="notes.invalid"></textarea>
        @if(notes.errors?.['restrictedWords']) {
          <em>Restricted words found: {{notes.errors?.['restrictedWords']}}</em>
        }
      </div>
    </section>
    <div class="buttons">
      <button class="secondary" type="button" (click)="cancelEdit()">Cancel</button>
      <button class="primary" type="submit" [disabled]="contactForm.invalid">Save</button>
    </div>
  </form>
</div>
